<% provide(:title, "Guide") %>
<!DOCTYPE html>
<h1>How to use Skiltr</h1>
<ol>
  <li>Add a <%= link_to "source", sources_new_path %> (book, article, blog post, etc.)</li>
  <li>Add one or more <%= link_to "excerpts", excerpts_new_path %> extracted from this source</li>
  <li>Add <%= link_to "tags", tags_new_path %> that you want to attach to the excerpts. To do this, after creating your tags, go the <%= link_to "excerpts index", excerpts_path %> and click on edit individual excerpts. I'm working on a solution where you will be able to create tags within the excerpt creation form. </li>
  <li>Add a <%= link_to "project", projects_new_path %> that you might be working on</li>
  <li>Add a <%= link_to "sign", signs_new_path %>, your personal comment which you extract from a series of excerpts (belonging to one or multiple sources)</li>
</ol>
