<% provide(:title, 'All excerpts') %>
<h1>Search excerpts</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with url: "/excerpts", method: "get" do |f|%>
      <%= f.label :source_id %>
      <%= f.collection_select :source_id, current_user.sources.all, :id, :title, prompt: 'All sources' %>

      <%= f.label :text_content, "Full text search against excerpt contents" %>
      <%= f.text_field :text_content, class: 'form-control', placeholder: 'E.g. slave classes revolutionary' %>
      
      <%= f.label :tag_ids_any, "Filter only from excerpts with any of the following tags:" %>
      <%= f.collection_select :tag_ids_any, current_user.tags.all, :id, :title, {}, multiple: true %>

      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div id="all-excerpts">
  <%= will_paginate %>
  <%= link_to "Add", excerpts_new_path , class: "btn btn-primary pull-right"%>
  <ul class="items">
    <%= render @excerpts %>
  </ul>
  <%= will_paginate %>
</div>

<div id="search-results">

</div>

