<% provide(:title, 'All excerpts') %>
<h1>Search excerpts</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with url: "/excerpts", method: "get" do |f|%>
      <%= f.label :source_id %>
      <%= f.collection_select :source_id, current_user.sources.all, :id, :title, {include_blank: 'All sources'}, class: 'selectize-search-single'%>

      <%= f.label :text_content, "Full text search against excerpt contents" %>
      <%= f.text_field :text_content, class: 'form-control', placeholder: 'E.g. slave classes revolutionary' %>

      <%= f.label :tag_ids_any, "Filter only from excerpts with any of the following tags:" %>
      <%= f.collection_select :tag_ids_any, current_user.tags.all, :id, :title, {prompt: 'Please start typing and select from existing tags'}, multiple: true, class: 'selectize-search-multiple' %>

      <%= submit_tag "Search", class: "btn btn-primary search-excerpts" %>
    <% end %>
  </div>
</div>

<div class="row top-buffer">
  <button class="btn btn-success pull-right" id="show-selected-excerpts">Show currently selected excerpts and add sign</button>
</div>

<div id="all-excerpts">
  <%= will_paginate %>
  <ul class="items">
    <%= render @excerpts %>
  </ul>
  <%= will_paginate %>
</div>

<div id="search-results">

</div>

<div class="modal fade show-selected-excerpts-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="mySmallModalLabel">Selected excerpts for your next sign</h4>
      </div>
      <div class="row center-aligned top-buffer">
        <a href='#' class="btn btn-primary create-sign-with-chosen-excerpts">Create a sign with these excerpts</a>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>