 <li class="d-flex justify-content-between align-items-center">
  <div>
    <div>
      <span class="header">Content: </span>
      <span class="excerpt"><%= sign.content %></span>
    </div>
    <div>
      <span class="header">Creation date: </span>
      <span><%= time_tag sign.created_at  %></span>
    </div>
    <div>
      <span class="header">Last edition date: </span>
      <span><%= time_tag sign.updated_at  %></span>
    </div>
    <div>
      <span class="header">Project: </span>
      <span><%= link_to sign.project.title, project_path(sign.project.id), title: "View only this project's signs" %></span>
    </div>

      <div>
        <span class="header">Extracted from the following excerpts: </span>
        <% sign.sign_excerpts.each do |sign_excerpt| %>
          <div> <%= link_to sign_excerpt.excerpt.content, sign_path(sign.id), title: "View signs associated to this excerpt" %> </div>
        <%end %>
      </div>

  </div>
  <div>
    <%= link_to "edit", edit_sign_path(sign.id) %> -
    <%= link_to "delete", sign, method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
</li>