<% provide(:title, 'All signs') %>
<h1>Search signs</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with url: "/signs", method: "get" do |f|%>
      <%= f.label :project_id %>
      <%= f.collection_select :project_id, current_user.projects.all, :id, :title, {include_blank: 'All projects'}, class: 'selectize-search-single' %>
      <%= f.label :text_content, "Full text search against sign contents" %>
      <%= f.text_field :text_content, class: 'form-control', placeholder: 'E.g. slave classes revolutionary' %>

      <%= f.label :tag_ids_any, "Filter only from signs made with excerpts that have any of the following tags:" %>
      <%= f.collection_select :tag_ids_any, current_user.tags.all, :id, :title, {prompt: 'Please start typing and select from existing tags'}, multiple: true, class: 'selectize-search-multiple' %>

      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div id="all-signs">
  <%= will_paginate %>
  <ul class="items">
    <%= render @signs %>
  </ul>
  <%= will_paginate %>
</div>

<div id="search-results">

</div>

