<% provide(:title, 'Create new signs') %>
<h1>Create sign</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @sign, local: true) do |f| %>
      <% if @sign.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-danger">
            The form contains <%= pluralize(@sign.errors.count, "error") %>.
          </div>
          <ul>
            <% @sign.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.label :project_id %>
      <%= f.collection_select :project_id, current_user.projects.all, :id, :title, {prompt: 'Please select or start typing and add a new project'}, class: 'selectize-add-project' %>

      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control', placeholder: 'This is where you put your comment extracted from a chosen selection of excerpts.' %>

      <%= f.label :excerpt_ids, 'Distilled from the following excerpts:' %>
      <%= f.collection_select :excerpt_ids, current_user.excerpts.all, :id, :content, {}, multiple: true, class: 'selectize-search-multiple' %>

      <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="modal fade project-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="mySmallModalLabel">Add Project</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <%= form_for Project.new do |f| %>
              <%= f.label :title %>
              <%= f.text_field :title, class: 'form-control' %>

              <%= f.label :description %>
              <%= f.text_area :description, class: 'form-control', placeholder: "E.g: Piece about the influence of marxist ideas on sci-fi literature" %>

              <%= f.submit "Add", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>