<% provide(:title, 'Create new signs') %>
<h1>Create new sign</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @sign, local: true) do |f| %>
      <% if @sign.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-danger">
            The form contains <%= pluralize(@sign.errors.count, "error") %>.
          </div>
          <ul>
            <% @sign.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.label :project_id %>
      <%= f.collection_select :project_id, current_user.projects.all, :id, :title, prompt: true %>

      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control', placeholder: 'This is where you put your comment extracted from a chosen selection of excerpts.' %>

      <%= f.label :excerpt_ids, 'Distilled from the following excerpts:' %>
      <%= f.collection_select :excerpt_ids, current_user.excerpts.all, :id, :content, {}, multiple: true %>

      <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>