<% provide(:title, 'Create new tag') %>
<h1>Create tag</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @tag, local: true) do |f| %>
      <% if @tag.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-danger">
            The form contains <%= pluralize(@tag.errors.count, "error") %>.
          </div>
          <ul>
            <% @tag.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', placeholder: 'E.g. communism' %>

      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control', placeholder: 'E.g. The communism utopia in Marxist thought' %>

      <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>